<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="fragments/head-tag :: head-tag">
        <title>Userpage — Internet Pharmacy</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="../../../resources/img/favicon.ico" th:href="@{/resources/img/favicon.ico}" rel="shortcut icon" type="image/x-icon" />
        <link href="../../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="all" />
        <link href="../../../resources/css/ipharm_styles.css" th:href="@{/resources/css/ipharm_styles.css}" rel="stylesheet" type="text/css" media="all" />
    </head>

    <body>
        <div th:replace="fragments/yandex-metrika :: yandex-metrika"></div>

        <!-- Navbar -->
        <div class="navbar navbar-inverse navbar-static-top" th:replace="fragments/navbar :: navbar"></div><!-- /Navbar -->

        <!-- Content -->
        <div class="container"> 
            <h1>Здравствуйте, <span sec:authentication="name">Василий</span>!</h1>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="page-header">
                                <h3>Ваши предыдущие заказы</h3>
                            </div>

                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Дата</th>
                                                <th>Номер заказа</th>
                                                <th>Метод оплаты</th>
                                                <th>Метод доставки</th>
                                                <th>Примечание</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody th:remove="all-but-first">
                                            <tr th:each="order : ${orderList}">
                                                <td th:text="${#dates.format(order.orderDate, 'dd.MM.yyyy, HH:mm')}">08.08.2014, 12:15</td>
                                                <td th:text="${order.orderId}">33</td>
                                                <td th:text="${order.paymentMethod.name}">Самоввоз</td>
                                                <td th:text="${order.shippingMethod.name}">Ногами</td>
                                                <td th:text="${order.comment}">Не звоните мне, я сам вам позвоню.</td>
                                                <td>
                                                    <div class="btn">
                                                        <a href="../user/order-item-details.html" th:href="@{/user/order-item-details(orderId=${order.orderId})}" class="navbar-btn btn-success btn">Подробнее</a> 
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>09.09.2013, 15:01</td>
                                                <td>001</td>
                                                <td>Pay Pal</td>
                                                <td>Пароходом</td>
                                                <td>Примечание отсутствует.</td>
                                                <td>
                                                    <div class="btn">
                                                        <a href="#" class="navbar-btn btn-success btn">Подробнее</a> 
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /Content -->


        <!-- Footer -->
        <div class="navbar navbar-default navbar-fixed-bottom" th:replace="fragments/footer :: footer"></div>

        <!-- Modal pop-up contact form -->
        <div class="modal fade" id="contact" role="dialog" th:replace="fragments/modal-contact-form :: modal-contact-form"></div><!-- /Modal pop-up login form -->

    </body>
</html>
