<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="fragments/head-tag :: head-tag">
        <title>Internet Pharmacy</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="../../../resources/img/favicon.ico" th:href="@{/resources/img/favicon.ico}" rel="shortcut icon" type="image/x-icon" />
        <link href="../../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="all" />
        <link href="../../../resources/css/ipharm_styles.css" th:href="@{/resources/css/ipharm_styles.css}" rel="stylesheet" type="text/css" media="all" />
    </head>

    <body>
        <div th:replace="fragments/yandex-metrika :: yandex-metrika"></div>

        <!-- Navbar -->
        <div class="navbar navbar-inverse navbar-static-top" th:replace="fragments/navbar :: navbar"></div><!-- /Navbar -->

        <!-- Content -->
        <div class="container">
            <br />
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class ="panel panel-default">
                        <div class ="panel-body">
                            <div class ="page-header">
                                <ol class="breadcrumb">
                                    <li class="before">Вход</li>
                                    <li class="before">Метод доставки</li>
                                    <li class="before">Контактная информация</li>
                                    <li class="active">Метод оплаты</li>
                                    <li>Подтверждение заказа</li>
                                </ol>
                                <h3>Выберите метод оплаты</h3>
                            </div>
                            <div>
                                <form role="form" action="#" th:action="@{/user/confirm-order}" th:object="${paymentMethodForm}" method="post">
                                    <div class="form-group">
                                        <ul th:remove="all-but-first" class="list-unstyled">
                                            <li th:each="payMeth : ${allPaymentMethods}">
                                                <input type="radio" th:field="*{paymentMethod}" th:value="${payMeth}" />
                                                <label th:for="${#ids.prev('paymentMethod')}" th:text="${payMeth.name}">Наличными</label>
                                            </li>

                                            <li>
                                                <input type="radio" id="cashless" name="cashless" value="cashless" />
                                                <label for="cashless">Банковский перевод</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="pay-pal" name="pay-pal" value="pay-pal" />
                                                <label for="pay-pal">Pay-pal</label>
                                            </li>
                                        </ul>
                                        <p class="text-danger" th:if="${#fields.hasErrors('paymentMethod')}" th:errors="*{paymentMethod}"></p>
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="submit" class="btn btn-info pull-right" value="Далее" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div><!-- /.row -->
        </div><!-- /.container -->

        <!-- Footer -->
        <div class="navbar navbar-default navbar-fixed-bottom" th:replace="fragments/footer :: footer"></div>

        <!-- Modal pop-up contact form -->
        <div class="modal fade" id="contact" role="dialog" th:replace="fragments/modal-contact-form :: modal-contact-form"></div><!-- /Modal pop-up login form -->

    </body>
</html>
