<?xml version='1.0' encoding='utf-8'?>
<!-- The contents of this file will be loaded for each web application -->
<Context>
    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <!-- Following tag was added for ipharm application -->
    <Resource name="jdbc/MysqlDS"
              auth="Container"
              driverClassName="com.mysql.jdbc.Driver"
              maxActive="10"
              maxIdle="30"
              maxWait="10000"
              username="root"
              password="root"
              type="javax.sql.DataSource"
              url="jdbc:mysql://localhost:3306/ipharm"
    />

</Context>