<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="fragments/head-tag :: head-tag">
        <title>Internet Pharmacy</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="../../resources/img/favicon.ico" th:href="@{/resources/img/favicon.ico}" rel="shortcut icon" type="image/x-icon" />
        <link href="../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="all" />
        <link href="../../resources/css/ipharm_styles.css" th:href="@{/resources/css/ipharm_styles.css}" rel="stylesheet" type="text/css" media="all" />
    </head>

    <body>
        <div th:replace="fragments/yandex-metrika :: yandex-metrika"></div>

        <!-- Navbar -->
        <div class="navbar navbar-inverse navbar-static-top" th:replace="fragments/navbar :: navbar"></div><!-- /Navbar -->

        <!-- Content -->
        <div class="container">
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="page-header">
                                <h2>Представьтесь</h2> 
                            </div>

                            <div>
                                <p>Если вы&nbsp;тут впервые &mdash; введите 
                                    ваш действующий имейл (на&nbsp;него придёт
                                    подтверждение заказа) и&nbsp;придумайте пароль.
                                    Если вы&nbsp;уже были клиентом нашей аптеки &mdash; 
                                    введите логин и&nbsp;пароль, выбранные вами при регистрации.</p>
                                <br />
                                <div class="alert alert-danger">
                                    <p><strong>Для совершения покупок (демо-доступ):</strong> логин olga, пароль olga</p>
                                </div>
                                <div class="alert alert-danger">
                                    <p><strong>
                                            Вход в админку (<abbr title="Администратор не может покупать, он только администрирует приложение!">невозможно делать покупки!</abbr>):
                                        </strong> логин admin, пароль admin.</p>
                                </div>

                                <form role="form" action="#" th:action="@{/login}" method="post">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="username">Ваш логин:</label>
                                            <input type="text" class="form-control" id="username" name="username" 
                                                   placeholder="Логин" required="required" autofocus="autofocus" />
                                        </div>

                                        <div class="form-group">
                                            <label for="password">Пароль:</label>
                                            <input type="password" class="form-control" id="password" name="password" 
                                                   placeholder="Пароль" required="required" />
                                        </div>

                                        <p class="form-group text-danger" th:if="${loginError}">
                                            Внимание! Неверный логин или пароль. Попробуйте ещё раз.
                                        </p>
                                        <input type="submit" value="Войти" class="btn btn-info pull-right" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div><!-- /.row -->
        </div><!-- /.container -->

        <!-- Footer -->
        <div class="navbar navbar-default navbar-fixed-bottom" th:replace="fragments/footer :: footer"></div>

        <!-- Modal pop-up contact form -->
        <div class="modal fade" id="contact" role="dialog" th:replace="fragments/modal-contact-form :: modal-contact-form"></div><!-- /Modal pop-up login form -->

    </body>
</html>
